@import "./index.css";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  color: var(--gray-800);
}

body {
  text-align: center;
}

button {
  color: var(--gray-700);
  transition: .4s;
  padding: .5rem .6rem;
  outline: solid var(--gray-700);
  border: 0;
  border-radius: .2rem;
  background-color: var(--white);

}

button:hover, button:focus {
  color: var(--white);
  outline: 0;
  background-color: var(--gray-800);
}

p {
  color: var(--gray-600);
  font-size: .9rem;
}


