:root {
  --white: #fff;
  --shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
/* .header__buttons {
    display: flex;
    gap: .5rem;
    justify-content: center;
}

.header__button {
    padding: .4rem .6rem;
    border: solid 1px;
    border-radius: .3rem;
    background-color: var(--white);

} */
.main {
  width: 100vw;
  padding: 0 1rem;
}

.header__buttons {
  display: none;
}

.cards-container {
  align-items: center;
  overflow: hidden;
  text-align: center;
}

.card {
  width: 19.5rem;
  background-color: var(--white);
  box-shadow: var(--shadow);
  height: 35rem;
  border-radius: 0.5rem;
}

@media screen and (min-width: 768px) and (max-width: 1248px) {
  .header__buttons {
    display: block;
  }
  .cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    justify-content: center;
  }
}


@media screen and (min-width: 1248px) {
    .header__buttons {
        display: block;
      }
    .cards-container{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
}
